
/*--------------------HEADER--------------------*/

.header{
    border-bottom: 2px solid #2196F3;
  }

.container-header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
   

}
/*Logo*/
.header-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #2196F3;
     
}

.header-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #212121;
  
}

.header-logo-studio:hover,  .header-logo-studio:focus, .header-logo-web:hover, .header-logo-web:focus{
    fill:#2196F3; 
    color:  #2196F3;
}
/*Navigation*/

.header-nav-list{
    display: flex;
 margin-left: 93px;
}


.header-nav-item + .header-nav-item {
margin-left: 50px;
}

.header-nav-link-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
    transition: color 300ms linear;
}

.header-nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: #212121;
    transition: color 300ms linear, fill 300ms linear;
  }

.header-contact-item + .header-contact-item{
    margin-left: 50px;
}

.header-nav-link:hover, .header-nav-link:focus{
           
    fill:#2196F3; 
    color:  #2196F3;

}
/*Contact*/
.header-contact-list{
    display: flex;
    margin-left: auto;
}

.header-contact-item + .header-contact-item{
    margin-left: 50px;
}

.header-contact-link{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

transition: color 300ms linear, fill 300ms linear;
}


.header-contact-icon{
    margin-left: 15px;
   }

.header-contact-link:hover,
.header-contact-link:focus{
           
    fill:#2196F3; 
    color:  #2196F3;
}
