//logo footer

.footer-logo-web {
    @include font(Raleway, normal, bold, 26px, 1.19, none, 0.03em);
        padding-top: 20px;
    color: $main-blue-color;
 }

.footer-logo-studio {
    @include font(Raleway, normal, bold, 26px, 1.19, none, 0.03em);
    
    color: $main-white-color;
    list-style: none;
}
