//header-contacts
.header-contact{
  display: flex;
  margin-left: auto;
  
    &__item + &__item{
    margin-left: 50px;
    }

    &__link{
    @include font(Roboto, normal, 500, 14px, 1.14, none, 0.02em);
    color: $main-gray-color;
    transition: color 300ms linear, fill 300ms linear;
    &:hover,
    &:focus{
        fill:   $main-blue-color; 
        color:  $main-blue-color;
      }
    }
}