//Main colors
$main-blue-color:  #347cdb;
$main-black-color: #212121;
$main-gray-color:  #757575;
$main-white-color:  #ffffff;
$main-light-gray-color:  #AFB1B8;

//Font
@mixin font ($font-family, $font-style, $font-weight, $font-size, $line-height, $text-decoration, $letter-spacing){
  font-family: $font-family; 
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-decoration: $text-decoration;
  letter-spacing: $letter-spacing;

}
