//Portfolio Menu

.portfolio-menu{

    &__list{
        display: flex;
        justify-content: center;
    
    }
    
    &__item + &__item{
    margin-left: 8px;
    }

    &__button {
        @include font(Roboto, normal, 500, 16px, 1.62, none, 0.03em);
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #212121;
        background: #F5F4FA;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        outline:none;
        padding: 6px 22px;
        display: block;
        margin: 0 auto;
        transition: color 300ms linear, background-color 300ms linear;
        
        &:hover, &:focus {
            color: $main-white-color;
            background:$main-blue-color;
    }
    }
    

    &__button__active{
        @include font(Roboto, normal, 500, 16px, 1.62, none, 0.03em);
        text-align: center;
        color: $main-white-color;
        background: $main-blue-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding: 6px 22px;
        outline:none;
        display: block;
        margin: 0 auto;
        transition: color 300ms linear, background-color 300ms linear;
        &:hover, &:focus{
            color: #212121;
            background: #F5F4FA;   
    }




}

  
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}




